#content .row img {
    background-color: #F44336;
    padding:10px;
}
#content .row p {
    margin:0;
}

/* tall (mobile portrait) */
@media (max-width: 493px) {
    #content .row p {
        margin:10px 0 0 0;
    }
}