
@media (max-width: 494px){
    .content {
        margin: 30px 0;
	}
    #tf-menu.navbar-default {
        background-color: rgba(0, 0, 0, 0.79);
    }
    #tf-works li.pull-right, #tf-works li.pull-left {
        margin-top: 10px;
        float: none !important;
        text-align: center;
        display: block;
    }
    #sliderbox {
        position:absolute !important;
    }
}

@media (max-width: 350px){
    #tf-about .avatar {
        width:60px;
        height:60px;
    }
    #tf-about .text {
        margin-left: 75px;
    }
    .avatar {
        margin-top:-69px !important;
    }
}

label{
    float: none !important
}
.pull-left.fnav,
.pull-right.fnav {
    float: none !important;
    text-align: center;
}

.hover-bg .hover-text {
    padding: 12% 10%;
}
}
@media (max-width: 360px){
.hover-bg .hover-text {
    padding: 22% 10%;
}
}